body {
    background-image: url("../images/background_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ccc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*
  ==============================
  Navigation Bar
  ==============================
*/
nav {
	background: rgba(0,0,0,0.5);
}

.fa {
	padding: 0;
	margin: 0;
	clear: both;
}

/*
  ==============================
  Main Page Content
  ==============================
*/
main {
	flex: 1 0 auto;
}

.card {
	margin: 30px;
}

.dancingTree {
	width: 100px;
	display: block;
}

h3 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

#sunSunglasses {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*
  ==============================
  Survey Results
  ==============================
*/
#matchName {
  text-align: center;
}

#matchImg {
	width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#matchText {
  text-align: center;
}

/*
  ==============================
  Footer
  ==============================
*/
footer.page-footer {
	background: rgba(0,0,0,0.5);
}